<div class="wrapper">
  <div class="page-container">
    <h1 class="title">My Notes</h1>
    <button class="add-btn" (click)="openPopup()">Add new</button>

    <div class="notes-container">
      <div *ngFor="let note of notes" class="note" (click)="openPopup(note)">
        <h3>{{ note.title }}</h3>
        <p>{{ note.description }}</p>
      </div>
    </div>
  </div>
</div>


<app-create-note-popup 
  *ngIf="isPopupOpen" 
  [note]="selectedNote" 
  (save)="saveNote($event)" 
  (close)="closePopup()">
</app-create-note-popup>

