<div class="page-container">
  <h1 class="title">My Notes</h1>
  <button class="add-btn" (click)="openPopup()">Add new</button>

  <div class="notes-container">
    <div 
      *ngFor="let note of notes" 
      class="note" 
      (click)="openPopupNote(note)"
    >
      <h3>{{ note.title }}</h3>
      <p>{{ note.content | slice:0:100 }}...</p> 
    </div>
  </div>
  
  <div class="popup2" *ngIf="selectedNote" (click)="closePopup()">
    <div class="popup-content2" (click)="$event.stopPropagation()">
      <h3>{{ selectedNote.title }}</h3>
      <p>{{ selectedNote.content }}</p>
      <button class="close-btn2" (click)="closePopup()">Закрыть</button>
    </div>
  </div>

<div class="popup" *ngIf="isPopupOpen">
  <div class="popup-content">
    <h2>Create Note</h2>
    <input type="text" placeholder="Note title" [(ngModel)]="noteTitle" class="note-input">
    <input type="text" placeholder="Note content" [(ngModel)]="noteContent" class="note-input">
    <button class="save-btn" (click)="saveNote()">Save</button>
    <button class="close-btn" (click)="closePopup()">Close</button>
  </div>
</div>