<div class="register-form">
    <div class="text">
       Register
    </div>
    <form>
       <div class="field">
          <div class="fas fa-envelope"></div>
          <input type="text" placeholder="Email ">
       </div>
       <div class="field">
          <div class="fas fa-lock"></div>
          <input type="password" placeholder="Password">
       </div>
       <button>Sign-Up</button>
       <div class="link">
          Account already existe?
          <a href="#">Login now</a>
       </div>
    </form>
 </div>